$color-primary: #c89211;
$color-primaryLight: #ffefd0;
$color-primaryLight2: #e7d9b8;
$color-primaryLight3: #f8c03d;
$color-primaryHeavy: #9b7212;
$color-primaryHeavy2: #202121;
$color-second: #b61c31;
$color-third: #235a73;
$color-black: #000;
$color-white: #fff;
$color-gray01: #818181;
$color-gray02: #dbd7cc;
$color-gray03: #b5b5b5;
$color-warn: #fe6c6c;
$color-red: red;
$basic-font-size: 16px;
$dafault-font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei",
  "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
